<h3>Here are the details of your contact:</h3>
<ol>
  @foreach (var contact in Model)
  {
    <li>@contact.GetName()</li>
    <li>@contact.GetAddress()</li>
    <li>@contact.GetPhoneNumber()</li>
  }
<a href='/contacts/new'>Add Another Contact</a>
<a href='/contacts'>View All Contacts</a>
<p><a href='/'>Return to the main page</a></p>
