<h1>Contact List</h1>
<ul>
  @foreach (var contact in Model)
  {
    <li><a href='/contacts/@contact.GetId()'>@contact.GetName()</a></li>
  }
</ul>

<form action="/contacts/clear" method="post">
<button type='submit' name='clear'>Clear All Contacts</button>
</form>
