@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <div class="jumbotron">
    <h1>Address Book</h1>
  </div>
  <h1>Your address book has been cleared!!</h1>

  <h3><a href='/'>Return to the Main Page</a></h3>
</div>
