@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <div class="jumbotron">
    <h1>Contact List</h1>
  </div>

  <h2>Click on a contact to view the details!</h2>
  <ul>
    @foreach (var contact in Model)
    {
      <li><a href='/contacts/@contact.GetId()'>@contact.GetName()</a></li>
    }
  </ul>

  <h3><a href='/contacts/new'>Add Another Contact</a></h3>
  <h3><a href='/'>Return to the Main Page</a></h3>
  <form action="/contacts/clear" method="post">
    <button type='submit' class="btn-lg btn-primary" name='clear'>Clear All Contacts</button>
  </form>
</div>
