@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Contact List</h1>
<ul>
  @foreach (var contact in Model)
  {
    <li><a href='/contacts/@contact.GetId()'>@contact.GetName()</a></li>
  }
</ul>

<h3><a href='/contacts/new'>Add another contact</a></h3>
<h3><a href='/'>Return to the main page</a></h3>
<form action="/contacts/clear" method="post">
<button type='submit' name='clear'>Clear All Contacts</button>
</form>
