<h3>Here are the details of your contact:</h3>
<ul>
  @foreach (var contact in Model)
  {
    <li><strong>@contact.GetName()</strong></li>
    <p>@contact.GetAddress()</p>
    <p>@contact.GetPhoneNumber()</p>
  }
</ul>

<p><a href='/'>Return to the main page</a></p>
