<h1>@Model.GetName()</h1>
<ul>
  <li>@Model.GetAddress()</li>
  <li>@Model.GetPhoneNumber()</li>
</ul>

<h3><a href='/contacts/new'>Add another contact</a></h3>
<h3><a href='/contacts'>View all contacts</a></h3>
