@{
  Layout="Shared/_Layout.cshtml";
}
<div class="jumbotron">
<h1>Address Book</h1>
</div>
<div class="container">
<h1>Your address book has been cleared!!</h1>

<h3><a href='/'>Return to the main page</a></h3>
</div>
