<h1>Address Book</h1>
<h3>Add a new contact:</h3>
<form action='/contacts' method='post'>
 <input id='contact-id' name='contact-id' type='hidden' value='@Model["contact"].GetId()'>
  <label for='contact-name'>Contact Name</label>
  <input id='contact-name' name='contact-name' type='text'>
  <label for='contact-address'>Contact Address</label>
  <input id='contact-address' name='contact-address' type='text'>
  <label for='contact-phone'>Contact Phone Number</label>
  <input id='contact-phone' name='contact-phone' type='text'>

  <button type='submit'>Add Contact</button>
</form>
