@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <div class="jumbotron">
    <h1>Address Book</h1>
  </div>

  <h3 class="intro">Welcome to Your New Online Address Book!<br><br> We'll Help You Keep Track of All Your Contacts!</h3>

  <h2><a href='/contacts/new'>Add a New Contact</a></h2>
  <h2><a href='/contacts'>See Your Contact List</a></h2>
</div>
