body {
    background-color: white;
    border: solid black thin;
}

.container {
  margin: 50px;
  font-family: monospace;
}

.jumbotron {
  background-image: url(http://i.stack.imgur.com/aaFv2.png);
  background-position: bottom;
  background-size: contain;
  color: white;
  margin-bottom: 50px;
}

a:hover {
  color: orange;
}

.details {
  font-size: 40px;
}

.form-group {
  margin-top: 30px;
  font-size: 20px;
}

li {
  font-size: 30px;
}

input {
  padding: 5px;
}

.btn-lg {
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 30px;
}
